<title>Make a booking</title>

<h1>Start your booking: <h1>
<form action="/booking/new" method="post">
<input type="email" name="user_email" placeholder="your email here">
<input type="date" name="date" placeholder="YYYY-MM-DD">
<input type='submit' name="Request booking">
</form>
