<title>Make a booking</title>

<% if @user.nil? %>
  <h2>You must be logged in to request a booking</h2>
<% else %>
    <h1>Start your booking: <h1>
    <form action="/booking/new" method="post">
    <input type="email" name="user_email" placeholder="your email here" required>
    <input type="date" name="date" placeholder="YYYY-MM-DD">
      <input type="hidden" name="accommodation_id" value="<%= @accommodation_id %>">
    <input type='submit' name="Request booking">
    </form>
<% end %>
