
<% if @user %>
<h3> Welcome <%= @user.name %> </h3>

  <form action="/accommodations/create" method="get">
    <input type='submit' value="Add Listing">
  </form>

<% else %>
  "You aren't hosting any properties yet."

<% end %>
