<form action="/accommodations" method="get">
  <input type='submit' value="View accommodation">
</form>
<% if !@user %>
Please log in to add Listing
<% end %>
<% if @user %>
<form action="/accommodations/create" method="get">
  <input type='submit' value="Add Listing">
</form>
<h3> Welcome <%= @user.name %> </h3>
<form action='/log-out' method='post'>
<input type='submit' value="Log out">
</form>
<%else %>
<form action='/sign-up' method ='get' >
<input type='submit' value="Sign up">
</form>
<form action='/login' method="get">
<input type="submit" value="Log in">
</form>
<% end %>
