<form action="/accommodations" method="get">
  <input type='submit' value="View accommodation">
</form>
<form action="/accommodations/create" method="get">
  <input type='submit' value="Add Listing">
</form>

<% if @user %>
<h3> Welcome <%= @user.name %> </h3>
<%else %>
<form action='/sign-up' method ='get' >
<input type='submit' value="Sign up">
</form>
<% end %>
