<html>
<head>
  <title>One night stays</title>
  <% #<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> %>
</head>

<body>
<a class="site_header" href="/">One night stays</a>

<div class="nav_bar">
  <a class="nav_link" href="/">Home</a>
  <a class="nav_link" href="/accommodations">Accommodation</a>

<% if @user %>
  <a class="nav_link" href="/hosting">Hosting</a>  
  <a class="nav_link" href="/logout">Log out</a>
<% else %>
  <a class="nav_link" href="/sign-up">Sign up</a>
  <a class="nav_link" href="/login">Log in</a>
<% end %>
</div>

<hr>

<%= yield %>

</body>
</html>
