<!DOCTYPE html>
<html>
<head>
  <title>One night stays</title>
  <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>

<p>AHHHHH</p>

<body>
<a class="site_header" href="/">One night stays</a>

<div class="nav_bar">
  <a class="nav_link" href="/">Home</a>
  <a class="nav_link" href="/accommodations">Accommodation</a>

<% if @user %>
  <a class="nav_link" href="/hosting">Hosting</a>  
  <a class="nav_link" href="/log-out">Log out</a>
<% else %>
  <a class="nav_link" href="/sign-up">Sign up</a>
  <a class="nav_link" href="/login">Log in</a>
<% end %>
</div>

<hr>
<p id="flash"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
