<html>
<head>
  <title>One night stays</title>
</head>

<body>
<a class="site_header" href="/">One night stays</a>

<div class="nav_bar">
<a class="nav_link" href="/">Home</a>
<a class="nav_link" href="/accommodations">Accommodation</a>



</div>

<%= yield %>

</body>
</html>
