<!DOCTYPE html>
<html>
<head>
  <title>Sign up for MakersBnB</title>
</head>
<body>
<div class="container">
  <h2>Sign up for MakersBnB</h2>
  <form action="/users/new" method="post">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="example@email.com" required>

      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" required>

      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" required>

      <input type="submit" name="sign-up" value="Sign up">
    </div>
  </form>
</div>
</body>
</html>
