<h1>Start your booking: <h1>
<form action="/booking/:id/new" method="post">
<input type="name" name="user_email" placeholder="your email here">
<input type="date" name="date">
<input type='submit' name="Request booking">
</form>